body{
    font-family: "Open Sans", sans-serif;
    background-color: burlywood;
    
}

h1{
    background-color: black;
    color: chartreuse;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

h2{
    color: brown;
}

footer{
    margin: 20px;
    text-align: center;
}

.bar{
    display: block;
    width: 8em;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    background-color: #2a2a2a;
    align-content: left;
}

.progress{
    display: block;
    width: 6em;
    height: 100%;
    background-color: tomato;
}
