
body{
    font-family: "Lucida Sans", lucida-sans;
    font-size: large;
    background-color: lightskyblue;
    margin: 10;
}

.header{
  background: black;
  padding: 10px;
}

.navBar{
  color: white; 
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
 
  list-style: none;   
     }

nav a{
  color: white;
}

 .welcome {
    color:red;
  }
  
 .image1 {
    width: 20%;
    height: 20%;
    display: flex;
   flex-flow: wrap;
    margin: 0;
   flex-direction: column;
  }

h2{
    color: black;
    text-align: center;    
}

.flexbox{
  width= 100vw;
  height=400px; 
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 2px;
  flex-basis: 30%;
}    

.flexbox1 {
  background: red;
  color: white;
}

.flexboxFacts {
  display: flex;
  flex-direction: column;
  background-color: pink;
}

article{
  display: flex;
}
  
footer {
    margin: 20px;
    justify-content:center;
}


